.form {
    display: flex;
    flex-direction: column;
    background-color: rgb(70, 68, 68);
    border-radius: 15px;
    padding: 40px;
    border: 2px solid orange;
    width: 30%;
    min-height: 50%;
    color: white;
}

a {
    color: orange;
    text-decoration: underline;
}

html, body {
    height: 100%;
}

.contenedor_productos {
    width: 65%;
    margin: auto;
}

.contenedor_filtros {
    width: 65%;
    margin: auto;
}

#table, #table_carrito, #table_mis_productos {
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0px 20px;
    margin-top: 0px;
}

#table thead, #table_carrito thead, #table_mis_productos thead  {
    display: none;
}

#table td:first-child, #table_carrito td:first-child, #table_mis_productos td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width:1%;
    height: 1%;
    padding: 0px;
}

#table td:nth-child(2), #table_carrito td:nth-child(2), #table_mis_productos td:nth-child(2) {
    width:max-content;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 50px;
    padding-bottom: 5px;
    padding-top:5px;
}

td {
    border: 4px solid rgb(70, 68, 68);
}

td img {
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#precio_prod {
    font-size:xx-large;
    text-shadow: 2px black;
}

#nombre_prod {
    text-transform: capitalize;
    font-size: x-large;
    font-weight: bold;

}

#estado_prod {
    font-weight: bold;
    color: green;
}

.boton {
    width: 150px;
    height: 50px;
    color:white;
    background-color: orange;
    border: 1px solid black;
}

.boton:hover {
    width: 150px;
    height: 50px;
    color:white;
    background-color: darkorange;
    border: 1px solid black;
}

.buscador {
    width: 100%;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid orange;
}

#dropdown {
    background-color: orange;
    height: 50px;
    width: 100%;
    margin-top: 50px;
}

.filtro {
    width: 10%;
}

#busqueda {
    width: 90%;
}

.dataTables_filter {
    display: none;
}

.orden_precio{
    margin-left: auto;
    margin-top: 5px;

}

#navbar-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    min-width: 15%;
    background-color: rgb(70, 68, 68);
    align-self: stretch;
    height: auto;
}

#navbar-container > .d-flex,
#navbar-container .navbar {
    height: 100%;
}

.navbar {
    background-color: rgb(70, 68, 68);
    align-items: flex-start !important;
    justify-content: flex-start !important;
    padding-top: 2px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: orange;
}

.nav-link:focus {
    color: orange;
    border: 2px solid white;
}


#contenedor_principal {
    align-items: stretch;
    min-height: 100vh;
}

.grafica_ventas {
    margin : auto;
    margin-top: 50px;
    width: 80%;
    height: 300px;
}

.mapa_estadisticas {
    margin : auto;
    margin-bottom: 50px;
    width: 80%;
    height: 400px;
}